@{
    ViewData["Title"] = "About Us";
}

<h1>We are a capable development company.</h1>
    <p class="lead">asdfasdfasdf asdfasdfa asdfasdf asdfasdfasdf asdfasdfasdf asdfasdfadsfadfasd asdf asdf asdf sdgsdfg ut s sdfgsdfg.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Contact for more info</a>
    </p>